In [5]:
import pandas as pd
import matplotlib.pyplot as plt

# Read the CSV file into a pandas dataframe
df = pd.read_csv("Datasets/DataFlightFinal.csv", sep=',')

In [8]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Flight_Number_Reporting_Airline,Origin,OriginCityName,...,Cancelled,Diverted,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,1,15,7,2006-01-15,US,465,EWR,"Newark, NJ",...,0.0,0.0,1.0,529.0,3,0.0,0.0,0.0,0.0,32.0
1,2019,2,6,11,2,2019-06-11,9E,3459,ATL,"Atlanta, GA",...,0.0,0.0,1.0,192.0,1,0.0,0.0,0.0,0.0,214.0
2,2018,1,2,8,4,2018-02-08,WN,5932,MDW,"Chicago, IL",...,0.0,0.0,1.0,793.0,4,0.0,0.0,13.0,0.0,16.0
3,2020,1,3,24,2,2020-03-24,YV,5825,PHX,"Phoenix, AZ",...,0.0,0.0,1.0,355.0,2,44.0,0.0,0.0,0.0,0.0
4,2010,3,8,20,5,2010-08-20,OO,6582,BUR,"Burbank, CA",...,0.0,0.0,1.0,326.0,2,9.0,0.0,7.0,0.0,1.0